<div class="jumbotron">
  <h2>Welcome <%= current_user.email if current_user %> to the Photo Management App!</h2>
  <p class="lead">
    You'll love managing your Photos with our application. Sign up!
  </p>
</div>
